.idea/
__pycache__/*.*
zOsm2GeoJSON/__pycache__/*.*
10_Planet/osmupdate_temp
10_Planet/planet-latest.osm.pbf
10_Planet/planet.osm.pbf
10_Planet/update.bat
11_Downloads_zip/*.zip

12_Downloads/**/*.shp
12_Downloads/**/*.dbf
12_Downloads/**/*.shx
12_Downloads/**/*.prj
12_Downloads/**/*.cpg
12_Downloads/**/*.csv
12_Downloads/**/*.txt
12_Downloads/**/*.html
12_Downloads/**/*.pdf
12_Downloads/**/*.cst

20_Countries/1.bat
20_Countries/*.pbf
20_Countries/*.o5m
20_Countries/tza.o5m.bak
30_Interim_osm/*.osm
96-Sample
90_Output/**/*.json
90_Output/**/*.shp
90_Output/**/*.dbf
90_Output/**/*.shx
90_Output/**/*.prj
90_Output/**/*.cpg
90_Output/**/*.stat.txt
91_Output_zipped/*.zip
92_Output_cmf_zipped/*.zip
92_Output_cmf_zipped/*.CKAN.json

99_WebUI/status.dat
99_WebUI/index.html
99_WebUI/make_profile.db
99_WebUI/status.dat.bak

key.txt
/antlr-based/
zOsm2GeoJSON/test.py

tools/1.bat
tools/ckan.py
tools/kzip.exe
tools/curl
tools/curl1
tools/.wget-hsts
tools/update_ckan.bat
tools/ckan_test.bat
tools/poly2wkt.py
