.idea/
__pycache__/*.*
zOsm2GeoJSON/__pycache__/*.*
data/in/**/*.*
data/mid/**/*.*
data/out/**/*.*
data/vtargets

96-Sample
99_WebUI/status.dat
99_WebUI/index.html
99_WebUI/make_profile.db
99_WebUI/status.dat.bak
99_WebUI/tzacompleteness.html

Poly/**/*.json
Poly/**/*.shp
Poly/**/*.dbf
Poly/**/*.shx
Poly/**/*.prj
Poly/**/*.cpg

key.txt

zOsm2GeoJSON/test.py

tools/1.bat
tools/ckan.py
tools/kzip.exe
tools/curl
tools/curl1
tools/.wget-hsts
tools/update_ckan.bat
tools/ckan_test.bat
tools/poly2wkt.py

test.bat



